.box {
  overflow-x: auto;
  --border-color: red;
  width: 100px;
  /* height: 100px; */
  padding: 30px;
  background-color: lightseagreen;
  border: 20px solid indianred;
  font-size: 300%;
  border-left-width: 30px;
  border-top-width: 10px;

  direction: rtl;
}
